body {
   background-color: #FFE4C4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        align-self: center;
        font-size: 3rem;
        padding: 2rem 0 1rem 0;
        color: #66AC85;
    }

    .clue-container {
        h1 {
            color: black;
            font-size: 1.5rem;
            text-align: center;
        }

        p {
            font-size: 0.875rem;
            padding: 0 1rem;
        }

        hr {
            margin: 0 1rem 1rem 1rem;
        }

        span {
            font-weight: bold;
        }

        .clues-div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .clue-btn {
                padding: 0.5rem 2rem;
            }

        }

    }
}

#first-clue {
    margin-top: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 1.25rem;
    font-weight: 500;

    p {
        padding-left: 5%;
        width: 90%;
        font-size: 1.25rem;

    }

    ol {
        margin-left: 5%;
        width: 90%;
        margin-bottom: 2rem;

        li {
            padding-bottom: 0.5rem;
            font-size: 1.25rem;
        }
    }



    .code-question {
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        border-radius: 4px;
        background-color: rgb(211, 210, 210);

        h4 {
            font-size: 1.5rem;
            padding: 1rem 1.5rem 0 1.5rem;
            margin: 0;
        }

        .code {
            
            background-color: #fff;
            padding-right: 6rem;
            padding-top: 2rem;
            margin: 1rem 1rem 1rem 1rem;

            pre {
                font-size: 1.25rem;
            }
        }

    }
}

form {
    width: 90%;
    align-self: center;
    padding-top: 1rem;

    label {
        margin-bottom: 0.5rem;
    }

    button.btn-primary {
        margin-top: 1rem;
        background-color: #9BB0D4;
    }
}